anaconda-client
anybadge
conda-build
docutils<0.18,>=0.14
ipykernel
ipython
jinja2>=3.0
matplotlib
nbsphinx
numpy
pandoc
pycodestyle
pylint
pytest
pytest-cov
scipy
setuptools
sphinx
sphinx-rtd-theme
sphinxcontrib-bibtex
twine
wheel