anaconda-client
conda-build
docutils>=0.21.2,<0.22
ipykernel
ipython
jinja2>=3.0
matplotlib
nbsphinx
numpy
pandoc
pycodestyle
pylint
pytest
pytest-cov
scipy
setuptools
sphinx
sphinx-copybutton
sphinx-rtd-theme
sphinxcontrib-bibtex
twine
wheel
